In [1]:
import numpy as np
import pandas as pd

In [2]:
#variant 7
alignment = '''cagcatgac
aaacatggg
caaaatggt
caacatgtc
aaccatgga
gacaatggc
aattatggc
gaatatggc
gaagatgga
caagatgtc
cagcatgtc
aatcatgga'''.upper()
alignLen = len(alignment.split()[0])
alignCount = len(alignment.split())
colNames = np.arange(alignLen)
rowNames = ['A', 'C', 'G', 'T']

In [3]:
count = np.zeros([alignLen, 4])
for line in alignment.split():
    for pos, base in enumerate(line):
        count[pos][rowNames.index(base)] += 1

In [4]:
pseudoValue = 0
gcContent = 0.386
gContent = cContent = gcContent / 2
aContent = tContent = (1 - gcContent) / 2
expContent = [aContent, cContent, gContent, tContent]
freqMatrix = (count + pseudoValue) / (alignCount + pseudoValue)

In [5]:
expFreq = [expContent] * alignLen
freqMatrixSafe = freqMatrix.copy()
freqMatrixSafe[freqMatrixSafe == 0] = 1
ICmatrix = freqMatrix * np.log2(freqMatrixSafe / expFreq)

In [6]:
ICpos = np.array(list(map(sum, ICmatrix)))

In [9]:
ICtotal = sum(ICpos)

In [10]:
ICtotal

10.132388469428477

In [11]:
IC_let_pos_df = pd.DataFrame(data=ICmatrix.transpose(),
                    index=rowNames,
                    columns=colNames)

In [12]:
IC_let_pos_df

,0,1,2,3,4,5,6,7,8
A,0.039576,1.703689,0.351845,-0.146879,1.703689,0.000000,0.000000,-0.156773,-0.074078
C,0.462622,0.000000,-0.035273,0.686664,0.000000,0.000000,0.000000,0.000000,0.930836
G,0.093332,0.000000,-0.035273,-0.035273,0.000000,0.000000,2.373327,1.192243,-0.100970
T,0.000000,0.000000,-0.146879,-0.146879,0.000000,1.703689,0.000000,-0.074078,-0.156773

In [14]:
IC_let_pos_df.to_html('IC_let_pos.html')

In [15]:
IC_pos_df = pd.DataFrame(data=ICpos[np.newaxis].tolist(),
                    index=['A+C+G+T'],
                    columns=colNames)

In [16]:
IC_pos_df

,0,1,2,3,4,5,6,7,8
A+C+G+T,0.595529,1.703689,0.134421,0.357633,1.703689,1.703689,2.373327,0.961393,0.599016

In [17]:
IC_pos_df.to_html('IC_pos.html')